CUSTOMIZE_LOGGER=true

TELEPROBE_TOKEN_TTL_DAYS=30

TELEGRAM_API_ID="your_telegram_api_id"
TELEGRAM_API_HASH="your_telegram_api_hash"
TELEGRAM_SESSION_STRING="your_telegram_session_string"

MONGO_CONNECTION_STRING="mongodb+srv://<user>:<password>@<host>"
MONGO_DB_NAME="your_mongodb_database"

NEO4J_USER="your_neo4j_user"
NEO4J_PASSWORD="your_neo4j_password"

GOOGLE_API_KEY="your_custom_search_api_key"
GOOGLE_CUSTOM_SEARCH_API_ID="your_custom_search_api_id"

CELERY_BROKER_URL="amqp://guest:guest@localhost:5672//"

FASTAPI_HOST="http://localhost:8000"

WEAVIATE_HTTP_HOST="your_weaviate_http_host",
WEAVIATE_HTTP_PORT="8888",
WEAVIATE_GRPC_HOST="your_weaviate_grpc_host",
WEAVIATE_GRPC_PORT="50051",

HUGGINGFACE_API_KEY="your_hugginface_api_key"
COHERE_APIKEY="your_cohere_api_key"

BOT_MEMORY="true"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your_langsmith_api_key"
LANGSMITH_PROJECT="pr-sweaty-stump-94"
